@import '../../styles/variables.scss';

.button {
    background-color: $off-white;
    width: 80px;
    height: 30px;
    color: $dark-primary;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

    &:hover {
        background-color: $dark-primary;
        border: solid 1px $gray-color;
    }

    &.small {
        font-size: 14px;
        width: 100%;
        height: 15px;
    }

    &.secondary {
        background-color: $primary-darker;
        color: $off-white;

        &:hover {
            background-color: $gray-color;
        }
    }
}