@import '../../styles/variables.scss';

.cta-button {
    background-color: $primary-color;
    width: 150px;
    height: 50px;
    color: $off-white;
    font-family: 'Shadows Into Light', cursive;

    &:hover {
        background-color: $secondary-color
    }

    &.medium {
        width: 110px;
        height: 25px;
    }

    &.secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: $primary-color;
        }
    }
}