//// Colors
//primary
// $primary-color: #6B0504; // og color
$primary-color: #D10602; // og color
$secondary-color: #561643;
$teritary-color: #1E0202;
// $dark-primary: #0f0707;
$dark-primary: #050000;
// $dark-primary: #050202;
$primary-dark-color: #0E0D12;

//general
$off-white: #EBDDDD;
$almost-black: #212229;

///// Fonts
