//// Colors
//primary
$primary-color: #6B0504;
$secondary-color: #561643;
$teritary-color: #1E0202;
$dark-primary: #0F0707;
$primary-dark-color: #1E0202;

//general
$off-white: #EBDDDD;
$almost-black: #212229;

///// Fonts
