// Color Schemes
$primary-color: #6B0504; //Rosewood
$secondary-color: #561643; //Tyrian Purple
$teritary-color: blue;
$darker-red: #1E0202; // Smoky Black
$gray-color: #303036; //Jet
$dark-primary: #0F0707;
$primary-dark-color: #1E0202;

$off-white: #EBDDDD;
$off-black: #020207;
$almost-black: #212229;

// Font Types
$primary-font: 'Permanent Marker';
$secondary-font: 'Shadows Into Light';
$base-font: 'Raleway';

$secondary-color: #561643;
$teritary-color: #1E0202;