// Color Schemes
$primary-color: #6B0504; //Rosewood
$secondary-color: #D45113; //Burnt Orange
$teritary-color: #561643; //Tyrian Purple
$darker-red: #1E0202; // Smoky Black
$gray-color: #303036; //Jet
$off-white: #FBFBFB;
$off-black: #020207;

// Font Types
$primary-font: 'Permanent Marker';
$secondary-font: 'Shadows Into Light';
$base-font: 'Raleway';