// Color Schemes
// $primary-color: #6B0504; // Blood Red
$primary-color: #6B0504; // Dark Red
$secondary-color: #561643; //Tyrian Purple
$teritary-color: blue;
$primary-darker: #1E0202; // Smoky Black
$gray-color: #303036; //Jet
$dark-primary: #050000;
// $primary-dark-color: #170007;
$primary-dark-color: #100002;

$off-white: #EBDDDD;
$off-black: #020207;
$almost-black: #212229;

// Font Types
$primary-font: 'Permanent Marker';
$secondary-font: 'Shadows Into Light';
$base-font: 'Raleway';

$secondary-color: #561643;
$teritary-color: #1E0202;