@import '../../styles/variables.scss';

.navigation-container {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  background-color: $dark-primary;
  display: grid;
  grid-template-columns: minmax(290px, 1fr) repeat(3, 1fr);
  align-items: center;

  // border-top: 2px solid $gray-color;
  // border-bottom: 2px solid $primary-color;
  
  .nav-title {
    grid-column: 1;

    .title {
      font-family: 'Permanent Marker', cursive;
      color: $primary-color;
      font-size: 38px;
      text-decoration: none;
    }

    .title__small {
      display: none;
    }

    @media only screen and (max-width: 650px) {
      .title {
        display: none;
      }

      .title__small {
        font-family: 'Permanent Marker', cursive;
        color: $primary-color;
        font-size: 38px;
        text-decoration: none;
        display: block;
      }
    }
  }

  .nav-links {
    justify-items: center;
    grid-column: 3/5;

    #toggle {
      display: none;
    }

    label {
      display: none;
    }

    .nav-items {
      display: flex;
      justify-content: flex-end;

      a {
        padding: 0px 0px 0px 40px;
        color: $off-white;
        font-size: 22px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        
        &:hover {
        color: $primary-color;
        }
      }

    }
  }
}