@import '../../styles/variables.scss';

.navigation-container {
  margin: 0 auto;
  width: 70%;
  height: 60px;
  background-color: $dark-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $gray-color;
  // border-bottom: 2px solid $gray-color;
  
  .nav-left {
    width: 30%;
    // margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 20px 0px;

    .title {
      font-family: 'Permanent Marker', cursive;
      color: $primary-color;
      // padding: 0px 10px;
      font-size: 38px;
    }
  }

  .nav-right {
    width: 25%;
    // display: flex;
    // justify-content: space-between;

    .nav-items {
      display: flex;
      justify-content: space-between;

      a {
        padding: 0px 0px 0px 30px;
        color: $off-white;
        font-size: 22px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
      }
    }
  }
}