@import '../../styles/variables.scss';

.navigation-container {
    width: 100%;
    height: 60px;
    background-color: $dark-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $gray-color;
    // border-bottom: 2px solid $gray-color;
    
    .nav-left {
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        .title {
            color: $primary-color;
            padding: 0px 10px;
        }
    }

    .nav-right {
        width: 40%;
        display: flex;
        justify-content: space-around;

        .nav-items {
            display: flex;
            justify-content: space-around;
    
            a {
                padding: 0px 30px 0px 0px;
                color: $off-white;
                font-size: 22px;
                text-decoration: none;
            }
        }
    }
}