@import '../../styles/variables.scss';

.navigation-container {
    width: 100%;
    height: 40px;
    background-color: $dark-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $gray-color;
    // border-bottom: 2px solid $gray-color;
    
    .navigation-bar {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }

    .title {
        color: $off-white;
        padding: 0px 10px;
    }

    .nav-items {
        padding: 10px;

        a {
            color: $off-white;
            padding: 0px 10px;
            font-size: 20px;
        }

        span {
            color: $off-white;
            font-size: 20px;
        }
    }
}