@import '../styles/variables.scss';

.about-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 80px 1fr;
  column-gap: 40px;

  .navigation {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  h2 {
    padding: 10px 0px;
    color: $primary-color;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
  }

  .about-photo {
    grid-row: 2;
    grid-column: 1;
    justify-self: end;
    align-self: center;
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    color: $primary-color;

    .about-links {
      text-align: center;
    }

    h2 {
      text-align: center;
      line-height: 1.4em;
    }

    a {
      color: $off-white;
      font-size: 28px;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .about-text {
    justify-self: start;
    align-self: center;
    padding-right: 40px;
    grid-row: 2;
    grid-column: 2;
    color: $off-white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;

    p {
      line-height: 1.4em;
      padding: 10px 0px;
    }
  }
}