@import '../styles/variables.scss';

.about-container {
  min-height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 40px;

  @media only screen and (max-width: 950px) {
    column-gap: 0px;
    min-height: 100%;
    width: 100%;
    background-color: $dark-primary;
    padding: 10px;
  }

  @media only screen and (max-height: 800px) {
    column-gap: 0px;
    min-height: 100%;
    width: 100%;
    background-color: $dark-primary;
    padding: 10px;
  }

  h2 {
    padding: 10px 0px;
    color: $primary-color;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
  }

  .about-photo {
    grid-column: 1;
    justify-self: center;
    align-self: center;
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    color: $primary-color;

    @media only screen and (max-width: 950px) {
      grid-column: 1 / 3;
    }

    .about-links {
      text-align: center;
    }

    h2 {
      text-align: center;
      line-height: 1.4em;
    }

    a {
      color: $off-white;
      font-size: 28px;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .about-text {
    justify-self: start;
    align-self: center;
    padding-right: 40px;
    grid-column: 2;
    color: $off-white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;

    @media only screen and (max-width: 950px) {
      grid-column: 1 / 3;
    }

    p {
      line-height: 1.4em;
      padding: 10px 0px;
    }
  }
}