@import '../styles/variables.scss';

.contact-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 80px 1fr 400px 1fr;

  .navigation {
    grid-row: 1;
  }

  .contact-info {
    grid-row: 3;
    justify-self: center;
    align-self: center;

    h2 {
      color: $primary-color;
      font-family: 'Raleway', sans-serif;
      font-size: 28px;
      text-align: center;
    }

    a {
      color: $off-white;
      font-size: 28px;

      &:hover {
        color: $primary-color;
      }
    }

    section {
      padding: 30px 0px;
      // border: 1px red solid;
    }
  }
}