@import '../styles/reset.scss';
@import '../styles/variables.scss';
// @import '../../styles/mixins.scss';

a {
  text-decoration: none;
}

.home-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  .home-summary {
    padding: 1.5em;
    grid-row: 3 / 5;
    // grid-column: 4 / 6; // For use in forest picture
    grid-column: 2 / 4;  // For use in beach picture
    z-index: 1;
    background-color: #050000FA; //98% opacity https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4
    border-radius: 10px;
    display: grid;
    grid-template-rows: 40px 2fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;

    @media only screen and (max-width: 1400px) {
      grid-row: 2 / 5;
    }

    @media only screen and (max-width: 700px) {
      grid-row: 2 / 6;
      grid-column: 2 / 6;
    }

    @media only screen and (max-width: 380px) {
      grid-row: 1 / 7;
      grid-column: 1 / 7;
      border-radius: 0px;
      border-top: 1px solid $primary-color;
    }

    @media only screen and (min-width: 500px) and (max-height: 700px) {
      grid-row: 2 / 6;
      grid-column: 2 / 5;

    }

    h2 {
      grid-row: 1;
      align-self: center;
      color: $primary-color;
      text-align: center;
      font-size: 38px;
      font-family: 'Shadows Into Light', cursive;
    }

    h3 {
      grid-row: 2;
      align-self: center;
      color: $off-white;
      font-size: 20px;
      line-height: 1.4em;
      font-family: 'Raleway', sans-serif;
    }
    .header-buttons {
      grid-row: 3;
      align-self: center;
    }
  }

  .home-image {
    grid-row: 1 / 7;
    grid-column: 1 / 7;
    // background-image: url('../assets/homebgforest1.jpg'); // Forest
    background-image: url('../assets/longbghome.jpg'); // Beach
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover; // For use in forest picture
  }
}