.project-container {
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) max-content;

  .projects {
    grid-row: 1 / 4;
    grid-column: 1 / 3
  }
}