@import '../../styles/reset.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.home-container {
    min-height: 100vh;

    .home-header{
        margin: 0 auto;
        width: 70%;
        height: 600px;
        display: flex;
        align-items: center;
        background-image: url('../../assets/longbghome.jpg');
        background-repeat: no-repeat;
        background-position: center;
        // img {
        //   width: 100%;
        //   height: auto;
        // }

        .home-summary {
          width: 40%;
          height: 50%;
          margin: 0px 60px;
          padding: 60px;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: $dark-primary;

          h2 {
            color: $primary-color;
          }

          h3 {
            color: $off-white;
          }
        }
        
    }
}