@import '../../styles/variables.scss';

.footer-container {
  width: 50%;
  height: 150px;
  margin: 0 auto;
  // padding: 30px 0 30px 0;
  background-color: $dark-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // align-items: space-between;
  // border-top: 2px solid $gray-color;
  // border-bottom: 2px solid $gray-color;

  .footer-nav {
    display: flex;
    justify-content: space-between;

    span {
      color: $primary-color;
      font-family: 'Permanent Marker', cursive;
      font-size: 32px;

      &:hover {
        color: $off-white;
      }
    }
    a {
      text-decoration: none;
      color: $off-white;
      font-size: 32px; 
      &:hover {
        color: $primary-color;
      }
    }
  }

  .footer-copyright {
    p {
      font-family: 'Raleway', sans-serif;
      color: $off-white;
      size: 20px;
      text-align: center;
    }
  }
}