@import '../../styles/variables.scss';

.hlitem-container {
  // background-color: $primary-dark-color; // original
  background-color: $dark-primary;
  display: flex;
  flex-direction: row;
  width: 100wh;
  // height: 100%;
  // border: dashed 1px red;
  // margin: 30px auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  // border-radius: 10px;
  // padding-right: 2%;

  &.reverse {
    flex-direction: row-reverse;
    background-color: $dark-primary
    // padding-right: 0;
    // padding-left: 2%;
  }

  .hl-image {
    width: 50%;
    img {
      width: 100%;
    }
  }

  .hl-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46%;
    // padding: 20px;
    padding-right: 2%;
    height: 100%;

    &.reverse{
    padding-right: 0;
    padding-left: 2%;
    }
    
    .hl-title {
      color: $primary-color;
      font-size: 32px;
      font-family: 'Raleway', sans-serif;
      // margin-bottom: 6px;

    }
    .hl-description {
      line-height: 1.4em;
      // margin-bottom: 6px;
      color: $off-white;
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
    }
    .hl-skills {
      margin-bottom: 6px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .skill-box {
        width: fit-content;
        padding: 2px 6px;
        margin: 2px 4px;
        color: $dark-primary;
        background-color: $off-white;
        border-radius: 4px;
        // font-style: italic;
        font-family: 'Raleway', sans-serif;
      }

    }
    ul {
      padding: 6px 0px;
    }
    li {
      color: $off-white;
      line-height: 1.4em;
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
    }
    .bullet {
      font-family: 'Permanent Marker', cursive;
      color: $primary-color;
      font-size: 28px;
    }

    .hl-links {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      i {
        text-decoration: none;
        color: $secondary-color;
        font-size: 30px;
        padding: 0em .7em;
        &:hover {
          color: $off-white;
        }
      }
    }
  }
}