@import './styles/reset.scss';
@import './styles/variables.scss';

.portfolio-container {
  max-height: 100vh;
  min-height: 100vh;
  background-color: $dark-primary;
  display: grid;
  grid-template-rows: 80px minmax(0, 1fr);

  .navigation {
    grid-row: 1;
  }

  .content {
    grid-row: 2;
  }

  .slide-enter,
  .slide-exit {
    transition: transform 1000ms ease-out;
  }

  .slide-enter {
    transform: translateX(100%)
  }

  .slide-enter.slide-enter-active {
    transform: translateX(0%)
  }

  .slide-exit {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    transform: translateX(0%);
  }

  .slide-exit-active {
    transform: translateX(-100%);
  }
}